.card{
    border-radius: 18px;
    border-bottom: 6px solid #3E78B2;
    box-shadow: 3px 3px 16px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.description{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.reviewMedia{
    border-right: 6px solid #3E78B2;
    margin: 20px 0;
    border-radius: 13px;
    padding: 10px;
    box-shadow: 3px 3px 16px rgba(0,0,0,0.2);
}
.rateBadge{
    background-color: #3E78B2;
    color: white;
    width: 60px;
    padding: 3px;
}
.product-image{
    height: 350px;
    width:100%;
    object-fit: cover;
}
button{
    background-color: #3E78B2!important;
}